/* HOME PAGE */

.home {
    width: 100%;
}

.home-container {
    background: var(--grayish-white);
}

/* HEADER  */

.header {
    position: absolute;
    z-index: 1;
    padding: 2rem;
}



.order-now-button {
    background: var(--orange);
    padding: 1rem;
}

.order-now-button h3{
    color: white;
}

/* BANNER */

.banner-container {
    padding-top: calc(125px + 1rem);
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.banner-description-container {
    width: 440px;
}

.banner-image {
    height: 410px;
    width: 440px;   
}

/* SIGNATURE-DISHES */

.signature-dishes-container {
    background: #efE9db;
}

.signature-dishes {
    padding: 4rem 2rem;
}

.signature-dishes-list {
    width: 100%;
}

.signature-dish-container {
    position: relative;
    align-items: end;
    height: 380px;
    width: 280px;
    padding: 2rem;
    background: white;
}

.signature-dish-image {
    position: absolute;
    top: -50px;
    height: 170px;
    width: 170px;
}

.signature-dish-description {
    min-height: 86.4px;
}

.signature-dishes-action-container {
    width: 100%;
}

.signature-dishes-action-container h3{
    color: var(--green);
}

.add-to-cart-button {
    padding: 0.5rem 2rem;
    background: var(--orange);
}

.view-full-menu-button {
    padding: 1rem;
    background: var(--green);
}

.view-full-menu-button h3 {
    color: white;
}

/* ABOUT US */

.about-us-container {
    background: var(--grayish-white);
}

.about-us {
    padding: 4rem 2rem;
}

.about-us-image {
    height: 440px;
    width: 300px;
}

.about-us-description-container {
    width: 540px;
    text-align: justify;
}

/* FOOTER */

.footer-container {
    background: var(--black);
}

.footer {
    padding: 2rem;
}

.footer-contact-svg-container {
    height: 40px;
    width: 40px;
    background: var(--dark-gray);
    border-radius: 40px;
}

.footer-container p, .footer-container h3{
    color: white;
}

.footer-attribution-container {
    width: 270px;
}

.footer-membership-container {
    width: 270px;
}

.attribution-list-text {
    margin-bottom: 1rem;
}